<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="menu">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="resources/images.png" width="30" height="30" class="d-inline-block align-top" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" ariaexpanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav mr-auto">

					<a class="nav-item nav-link" href="/carros">Carros</a>
					<a class="nav-item nav-link" href="/multas">Multas</a>
					<a class="nav-item nav-link" href="/infracao">Infrações</a>

				</div>
			</div>
		</nav>
	</div>
</body>

</html>